<% include header %>

<div class="container">
    <div class="jumbotron">
        <h1>Contact</h1>
        <br />

        <form action="/action_page.php">
            <div class="form">
                <label for="firstName">First name:</label>
                <input type="text" class="form-control" id="firstName" placeholder="Jane" pattern="[A-Za-z]{1,15}"
                    title="Invalid: Please use only letters. Max length: 15" required>
            </div>
            <br />
            <div class="form">
                <label for="lastName">Last name:</label>
                <input type="text" class="form-control" id="lastName" placeholder="Doe" pattern="[A-Za-z]{1,25}" title="Invalid: Please use only letters. Max length: 25"
                    required>
            </div>
            <br />
            <div class="form">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" placeholder="janedoe@gmail.com" maxlength=40
                    required>
            </div>
            <br />
            <div class="form">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" placeholder="1234567890" pattern="[0-9]{10}" title="Invalid: Please use only numbers. Phone number must be 10 digits long.">
            </div>
            <br />
            <div class="form">
                <label for="message">Message:</label>
                <textarea rows="4" class="form-control" id="message" placeholder="Type your message here." required></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-default" id="submitButton">Submit</button>
        </form>

        <div class="col-lg-1"></div>
    </div>
</div>

<% include footer %>