<% include header %>

<div class="container">
    <div class="jumbotron">
        <center><img src="images/me.jpg" class="rounded-circle" id="headshot" alt="Amy White headshot" width="150"
                height="220"></center>
        <h1 id="myName">Amy White</h1>
        <p>I am a senior at Northwest Missouri State University graduating in Decemeber of 2018. I am majoring in
            Digital Media Computer Science.
            I am excited to continue learning!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>My Family</h2>
            <p>I am a non-traditional student. I have worked hard to graduate in three and a half years.</p>
            <img src="images/myFamily.jpg" class="rounded img-fluid" alt="Amy White's family">
        </div>
        <div class="col-4">
            <h2>My School</h2>
            <p>I love being a Bearcat! The people at Northwest make it a very special place.</p>
            <br />
            <iframe width="350" height="250" src="https://www.youtube.com/embed/TCDIclsb-GY" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen class="embed-responsive"></iframe>
        </div>
        <div class="col-4">
            <h2>My Hobbies</h2>
            <p>I love to travel, go to concerts, and photography.</p><br />
            <img src="images/travel.jpg" class="rounded img-fluid" alt="Arizona Mountains">
        </div>
    </div>
</div>

<% include footer %>