<% include header %>

<div class="jumbotron" id="skills">
    <h1>My Skills Include:</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <br />
            <div class="col-lg-4">
                <ul>
                    <li>C++</li>
                    <li>JavajQuery</li>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>NoSQL</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul>
                    <li>Adobe InDesign</li>
                    <li>Adobe Illustrator</li>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Lightroom</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<h2>Check Out My Code</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class=col-lg-4></div>
            <div class="col-lg-4">
                <p><a href="https://github.com/s518350"><img src='images/github.png' height="100px" width="100px" /></a>
                    <a href="https://bitbucket.org/amywhite8206/"><img src='images/bitbucket.png' height="100px" width="100px" /></a></p>
            </div>
            <div class=col-lg-4></div>
        </div>
    </div>

    <div class="jumbotron" id="skills">
        <h1>Check Out My Design Work: <a href="https://www.slideshare.net/AmyWhite95"><img src='images/slideshow.jpg' height="100px"
                    width="100px" /></a></h1>
        <br />
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="Incontent">
                        <img src="images/Cards1.JPG" alt="Card Design" style="width:100%" height="500px">
                        <h3>Card Design</h3>
                        <p>This was for a project in Typography I. The goal was to design and print a deck of cards
                            along with a box.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="Incontent">
                        <img src="images/FrontPageNewsWhite.jpg" alt="Newspaper Design" style="width:100%" height="500px">
                        <h3>Newspaper Design</h3>
                        <p>This was a project for Media Design. The goal was to design the front page of a magazine
                            with good headlines and layout.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="Incontent">
                        <img src="images/WhiteAInfographic.jpg" alt="Infographic Design" style="width:100%" height="500px">
                        <h3>Infographic</h3>
                        <p>This was a project for Media Design. The goal was to design a well titled and laid out
                            infographic.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="Incontent">
                        <img src="images/vectorgirlJPG.jpg" alt="Vector Design" style="width:100%" height="500px">
                        <h3>Vector Design</h3>
                        <p>This was a project for Computer Graphics I. The goal was to vectorize a portrait with
                            Adobe
                            Illustrator.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="Outcontent">
                    <img src="images/WhiteAWebsite.jpg" alt="Website Design" style="width:100%" height="500px">
                    <h3>Website Design</h3>
                    <p>This was for a project in Media Design. The goal was to re-design a bad website.</p>
                </div>
            </div>
            <div class="column">
                <div class="Outcontent">
                    <img src="images/SpecSheet1.JPG" alt="Spec Sheet Front" style="width:100%" height="500px">
                    <h3>Spec Sheet (Front)</h3>
                    <p>This was a project for Typography I. The goal was to design a spec sheet with provided
                        material.</p>
                </div>
            </div>
            <div class="column">
                <div class="Outcontent">
                    <img src="images/SpecSheet2.JPG" alt="Spec Sheet Design Back" style="width:100%" height="500px">
                    <h3>Spec Sheet (Back)</h3>
                    <p>This was a project for Typography I. The goal was to design a spec sheet with provided
                        material.</p>
                </div>
            </div>
            <div class="column">
                <div class="Outcontent">
                    <img src="images/TypeForm.JPG" alt="Type Form Design" style="width:100%" height="500px">
                    <h3>Type Form Design</h3>
                    <p>This was a project for Typography I. The goal was to create a design using only our
                        initials.</p>
                </div>
            </div>
        </div>
    </div>


    <% include footer %>